apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/
  - mtls-role.yml
  - mtls-serviceaccount.yml
patches:
  - add-sidecars.patch.yml
  - ephemeral-keyring.patch.yml
configMapGenerator:
  - name: mtls-restart-script
    files:
      - ./files/restart-mtls.sh
images:
  - name: kiwigrid/k8s-sidecar
    newTag: 1.14.2
    digest: sha256:80d5a85a72762aef6181941eaccc8449f3b46ccab932e7362d2d71726681d1ec

